body
{
    background-color:#fff0e0
}

h1 
{
    font-family:Arial,Helvetica,sans-serif;
    font-size:200%;
}

h2
{
    font-family:Arial,Helvetica,sans-serif;
    font-size:150%;
}

h3
{
    font-family:Arial,Helvetica,sans-serif;
    font-size:120%;
}

p
{
    font-family:Arial,Helvetica,sans-serif;
}

ul.navigation
{
list-style-type:none;
margin:0;
padding:0;
}

li.navigation
{
display:inline;
}